<nav class="navbar">
    <div class="navbar-container">

        <a href="/"
           class="nav-logo <%= currentPath === '/' ? 'active' : '' %>">
           <%= appData.appName %>
        </a>

        <div class="navbar-links">
            <a href="/about"
               class="<%= currentPath === '/about' ? 'active' : '' %>">
               About
            </a>
            <a href="/workouts"
               class="<%= currentPath === '/workouts' ? 'active' : '' %>">
               Workouts
            </a>
            <a href="/workouts/add"
                class="<%= currentPath === '/workouts/add' ? 'active' : '' %>">
                Log Workout
            </a>
        </div>

        <div class="navbar-auth">
            <% if (user) { %>
                <a class="nav-user">Hello, <%= user.firstName %></a>
                <a href="/users/logout">Logout</a>
            <% } else { %>
                <a href="/users/login"
                   class="<%= currentPath === '/users/login' ? 'active' : '' %>">
                   Login
                </a>

                <a href="/users/register"
                   class="<%= currentPath === '/users/register' ? 'active' : '' %>">
                   Register
                </a>
            <% } %>
        </div>

    </div>
</nav>