<!DOCTYPE html>
<html>
    <head>
        <title>About - <%=appData.appName%></title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <%- include ('partials/navbar.ejs') %>
        <%- include('partials/flash.ejs') %>

        <h1>About <%=appData.appName%></h1>
        <p><%=appData.appName%> is a fitness tracking application designed to help users monitor their workouts and progress over time. Our mission is to provide an easy-to-use platform for fitness enthusiasts of all levels.</p>
        
    </body>
</html>